body {
    font-family: Arial, sans-serif;
    text-align: center;

  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 4px;
    margin-top: 20px;
    justify-content: center; 
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #f0f0f0;
  }
  
  .message {
    margin-top: 20px;
    font-size: 18px;
  }

  button {
    margin: 0 auto;
    margin-top: 5px;
  }
  